{% extends 'default.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block html_title %}
    {{ block.super }} - Edit Item
{% endblock %}

{#{% block content_title %}Edit Item{% endblock %}#}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'stylesheets/bootstrap-datetimepicker.css' %}">
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static 'scripts/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'scripts/items/items.js' %}"></script>
{% endblock %}

{% block body_left %}

<form method="post" id="itemForm" item-room-url="{% url 'buildings:floor_rooms' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Update" class="btn btn-primary">
    <input type="submit" value="Cancel" class="btn btn-secondary" name="cancel">
    <input type="submit" value="Delete" class="btn btn-danger" name="delete">
</form>

{% endblock %}


{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".datetimeinput").datetimepicker({
                format: "yyyy-mm-dd hh:ii:ss"
            });
        });

        getRoomsOfFloor();
    </script>
{% endblock %}

