{% extends 'default.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block html_title %}
    {{ block.super }} - Edit Item Type
{% endblock %}

{#{% block content_title %}Add Item Type{% endblock %}#}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'stylesheets/bootstrap-datetimepicker.css' %}">
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static 'scripts/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'scripts/items/items.js' %}"></script>
{% endblock %}

{% block body_left %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<form novalidate method="post" id="itemTypeForm" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" class="btn btn-primary">
    <input type="submit" value="Cancel" class="btn btn-secondary" name="cancel">
    <input type="submit" value="Delete" class="btn btn-danger btn-rounded" name="delete">
</form>


{% endblock %}
