{% extends 'default.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block html_title %}
    {{ block.super }} - Add Item
{% endblock %}

{#{% block content_title %}Edit Item{% endblock %}#}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'stylesheets/bootstrap-datetimepicker.css' %}">
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static 'scripts/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'scripts/items/items.js' %}"></script>
{% endblock %}

{% block body_left %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<form method="post" action="/items/add/" id="itemForm" item-room-url="{% url 'buildings:floor_rooms' %}" room-location-url="{% url 'buildings:room_info' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" class="btn btn-primary">
    <input type="submit" value="Cancel" class="btn btn-secondary" name="cancel">
</form>


{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
    $(document).ready(function() {
        $(".datetimeinput").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss"
        });

        fillRoomsIfFloorExists();
        getRoomsOfFloor();
        fillLocationWhenFloorIsSelected();
    });
</script>
{% endblock %}
