{% extends 'default.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'stylesheets/items/items.css' %}">
{% endblock %}


{#{% block content_title %}Items{% endblock %}#}

{% block body_main %}


    <div class="row">
        <div class="col">
                <div id="table" class="table-editable">
                  <span class="table-add float-right mb-3 mr-2"><button type="button" class="btn btn-success btn-rounded btn-sm my-0">Add</button></span>
                  <table class="table table-bordered table-responsive-md table-striped text-center">
                    <tr>
                      <th class="text-center">Item type</th>
                      <th class="text-center">Picture</th>
                      <th class="text-center">Edit</th>
                    </tr>
                    {% for item_type in item_type_list %}
                    <tr>
                      <td class="pt-3-half" id="type-{{ item_type.id }}">{{ item_type.type }}</td>
                      <td class="pt-3-half"><img src="/{{ item_type.image }}" alt="" border="3" height="50" width="50" /></td>
                      <td>
                        <span class="table-edit" id="{{ item_type.id }}"><button type="button" class="btn btn-warning btn-rounded btn-sm my-0">Edit</button></span>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
        </div>
    </div>

{% endblock %}


{% block extra_js %}
<script>
    var $TABLE = $('#table');

    $('.table-add').click(function () {
            let url = '/items/add-type/';
            window.location.assign(url);
    });

    $('.table-edit').click(function () {
            let url = '/items/update-type/' + this.id;
            window.location.assign(url);
});
</script>
{% endblock %}

