{% extends 'default.html' %}
{% load static %}

{% block html_title %}
    {{ block.super }} - Item Types
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'stylesheets/items/items.css' %}">
{% endblock %}


{% block body_main %}
{#    Items #}
    <h4>Items</h4>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ formats.0|upper }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for format in formats %}
                <button class="dropdown-item" >{{ format|upper }}</button>
            {% endfor %}
        </div>
        <button class="btn btn-primary btn-white-text export">Export</button>
    </div>

    <hr/>
{#    Item types #}
    <h4>Item types</h4>
    <div class="row">
        <div class="col">
                <div id="table" class="table-editable">
                  <a href="{% url 'items:add_type' %}" class="btn btn-success btn-rounded btn-sm my-0 float-right mb-3 mr-2">Add</a>
                  <table class="table table-bordered table-responsive-md table-striped text-center">
                    <tr>
                      <th class="text-center">Item type</th>
                      <th class="text-center">Picture</th>
                      <th class="text-center">Edit</th>
                    </tr>

                    {% for item_type in item_types %}
                    <tr>
                      <td class="pt-3-half" id="type-{{ item_type.id }}">{{ item_type.type }}</td>
                      <td class="pt-3-half"><img src="/media/{{ item_type.image }}" alt="" border="3" height="50" width="50" /></td>
                      <td>
                          <a href="{% url 'items:update_type' pk=item_type.id %}" type="button" class="btn btn-outline-warning btn-rounded btn-sm my-0">Edit</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script>
        if (!String.prototype.trim) {
            String.prototype.trim = function () {
                return this.replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g, '');
            };
        }
        $(".dropdown-item").on('click', function() {
            const selectedText = $(this).text();
            $('.dropdown').find('.dropdown-toggle').html(selectedText + ' ');
        });

        $(".export").on('click', function() {
            const selectedText = $(".dropdown-toggle").text();
            window.location = "{% url 'items:export' %}?format=" + selectedText.trim().toLowerCase();
        })
    </script>

{% endblock %}
