.floor-button {
    margin: 5px;
}

.floors {
    border: 1px #333;
    height: 100%;
}

.item-button {
    margin: 5px;
}

.items {
    float: left;
    border: 1px #333;
    height: 100%;
    width: 50px;
}
