.move-menu {
    display: none;
    right: 0;
    height: 85%;
    width: 13%;

    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
}

.history {
    z-index: 2;
}

.mac {
    font-family: monospace, monospace;
    font-size: smaller;
}

.location-description {
    font-size: smaller;
    display: inline;
}
