{% load static %}

<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <a class="navbar-brand" href="{% url 'home' %}">WAPPIE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse vr" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        {% with request.resolver_match.app_name as app %}
            <li class="nav-item {% if app == 'buildings' %}active{% endif %}">
                <a class="nav-link" href="{% url 'buildings:index' %}">Map</a>
            </li>
            <li class="nav-item {% if app == 'items' %}active{% endif %}">
                <a class="nav-link" href="{% url 'items:index' %}">Types</a>
            </li>
        {% endwith %}
        </ul>
    </div>
    <div><h6 class="text-info"><small>WiFi Access Point Platform for Improved Editing</small></h6></div>
</nav>
