{% extends 'default.html' %}
{% load static %}
{% load building_extras %}

{% block html_title %}
    {{ block.super }} - {{ building.name }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'stylesheets/overview/overview.css' %}">
{% endblock %}

{% block body_title %}{% endblock %}

{% block content_title %}{% endblock %}


{% block body_main  %}
    <!--<h2>My Map</h2>-->
    <div class="row">
        <div class="col">
                <title> {{ building.name }} </title>
        </div>
        <div class="col border-right">
            <div class="row" id="floors"></div>
        </div>
    </div>
    <div id="map" class="map" ondragover="allowDrop(event)" ondrop="handleDrop(event)"></div>

{% endblock %}

{% block body_right %}
    {% include 'buildings/overview_right.html' %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/overview.js' %}"></script>
    <script src="{% static 'scripts/drag-drop.js' %}"></script>
    <script src="{% static 'scripts/items/history.js' %}"></script>

    <script> loadBuildingView('{{ building.name }}')</script>

    <script>
        $(document).ready(function(){
            loadFirstFloor();
            {% for floor in building.floors %}
                createButton('{{ floor.floor_number }}');
            {% endfor %}
            });

        setBuildingName('{{ building.name }}');
        setFloorNumber('{{ floor.floor_number }}');


        const button_classes="btn btn-secondary floor-button";


        function createButton(floor_number, disabled=false) {
            let text = disabled ? " disabled" : "";
            let $input = $('<input onclick=loadItemsAndFloor(' + floor_number + ') type="button" class="' + button_classes + '" value="' + floor_number + '"/> ');
            $input.appendTo($('#floors'));
        }


        function loadFirstFloor() {
            load_floor_on_map('{% url 'buildings:geojson' %}?buildingName={{ building.name }}&floorNumber={{ floor.floor_number }}');
            {% for item in floor.items %}
                load_items_on_map('{{ item.location.0 }}', '{{ item.location.1 }}', {{item.id}}, '/{{ item.type.image }}');
                setupBuildingPage('{{ building.name }}', '{{ floor.floor_number }}');
            {% endfor %}
        }


        function loadItemsAndFloor(floor_number, building_name) {
            let $all_buttons = $(this).parent().children();
                for (let i = 0; i < $all_buttons.length; i++) {
                    $($all_buttons[i]).removeClass('active');
                }
                $(this).addClass('active');

            removeAllFloorLayers();
            removeAllItemLayers();
            load_floor_on_map('{% url 'buildings:geojson' %}?buildingName={{ building.name }}&floorNumber=' + floor_number);
            history.pushState(null, null, floor_number);

            setBuildingName('{{ building.name }}');
            setFloorNumber(floor_number);

            $.ajax({
                url: "/buildings/{{ building.name }}/" + floor_number + '/items',
                success: function (data) {
                    if (data) {
                        let items = data.items;
                        items.forEach(function buildItem(item) {
                            load_items_on_map(item.lon, item.lat, item.id, "/" + item.type);
                        });
                        setupBuildingPage('{{ building.name }}', floor_number);
                    }
                }
            });
        }

    </script>
{% endblock %}