{% extends 'default.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'stylesheets/buildings/buildings.css' %}">
{% endblock %}

{#{% block content_title %}Buildings{% endblock %}#}

{% block body_main %}

    <div class="row">
        <div class="col">
            {% for building in building_list %}
                <button class="rol building btn btn-secondary" id="{{ building }}">
                    {{ building.name }}
                </button>
            {% empty %}
                No buildings
            {% endfor %}
        </div>
        <div class="col border-left">
            <div class="row" id="floors">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row" id="items">
            </div>
        </div>
        <div class="col border-left">
            <div class="row" id="single_item">

            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        const button_classes="btn btn-secondary floor-button";
        const button_items="btn btn-secondary item-button";

        function createButton(floor, building, disabled=false) {
            let text = disabled ? " disabled" : "";
            let $input = $('<input onclick=createItemsOfFloor(' + floor + ',' + building + ') type="button" class="' + button_classes + '" value="' + floor + '"/> ');
            $input.appendTo($('#floors'));
        }

        function createButtonItem(item, item_id, disabled=false) {
            let $input = $('<input onclick=showDetail(' + item_id + ') type="button" class="' + button_items + '" value="' + item + '"/> ');
            $input.appendTo($('#items'));
        }

        function showDetail(item_id) {

            $('#single_item').html('');

            $.get("{% url 'buildings:item_details' %}", {id: item_id}, function(json_response) {
                    console.log(json_response.item);
                    let $result = json_response.item
                    $('#single_item').append($result);
                })
        }


        function createItemsOfFloor(floor, building_name) {
            let $all_buttons = $(this).parent().children();
            for (let i = 0; i < $all_buttons.length; i++) {
                $($all_buttons[i]).removeClass('active');
            }
            $(this).addClass('active');

            $.ajax({
                url: "{% url 'buildings:floor_items' building_name='placeholder' floor_number=300 %}".replace(300, floor | 'placeholder', building_name),
                success: function (data) {
                    console.log(data);
                    let items = $('#items');
                    items.empty();

                    if (data) {
                        let items = data.split(',');
                        console.log(items);
                        for (let i = 0; i < items.length; i += 3) {
                            let xCoordinate = items[i];
                            let yCoordinate = items[i+1];
                            let itemId = items[i+2];
                            let coordinates = xCoordinate + ", " + yCoordinate;
                            createButtonItem(coordinates, itemId);

                        }
                    } else {
                            createButtonItem("No items", 1, false);
                    }
                }
            })
        }

        console.log('test');
        $('.building').on("click", function () {
            // A building was clicked
            let building = this.innerText.trim();  // Name of the building
            let $all_buttons = $(this).parent().children();

            for (let i = 0; i < $all_buttons.length; i++) {
                // Set all buttons to inactive
                $($all_buttons[i]).removeClass('active');
            }
            $(this).addClass('active');  // Set this buttons to active

            $.ajax({
                // Do an AJAX call to "url 'floors' " with the name of the building. The placeholder is
                // used like here: https://stackoverflow.com/questions/17832194/get-javascript-variables-value-in-django-url-template-tag
                url: "{% url 'buildings:floors' building_name='placeholder' %}".replace('placeholder', building),
                success: function (data) {
                    let floors = $('#floors');
                    floors.empty();

                    // Create a button per floor
                    if (data) {
                        let buildings = data.split(',');
                        console.log(buildings);
                        for (let i = 0; i < buildings.length; i += 2) {
                            createButton(buildings[i], buildings[i+1]);
                        }
                    } else {
                        createButton("No floors", true);
                    }
                }
            })
        });

    </script>
{% endblock %}