{% load static %}

<button onclick="closeLeftMenu()" class="w3-bar-item w3-button w3-Large">Close &times;</button>
<br>
    <ul class="list-unstyled">
        <span class="float mb-3 mr-2"><a id="item-add-button" type="button" class="btn btn-success btn-rounded btn-sm my-0">Add Item</a></span>
        <h6><b> Items without location</b></h6>
    {% for item in homeless_items %}
        <li class="media list-group-item">
            <a class="media-body" href="{% url 'items:edit' pk=item.id %}" id="{{ item.id }}" ondragstart="dragStart(event)">
            <img src="/media/{{ item.type.image }}" height="35px" alt="Icon" class="mr-3">
                {{ item.type }}
                {% if item.location_description %}<br/><p class="location-description mt-0 mb-1">{{ item.location_description }}</p>{% endif %}
                <p class="mac mt-0 mb-1">MAC: {{ item.mac }}</p>
            </a>
        </li>
    {% endfor %}
</ul>

<script>
    $("#item-add-button").click(function () {
        let pathname = window.location.pathname;
        let currentlyOnIndex = pathname === '{% url 'buildings:index' %}';
        if (!currentlyOnIndex) {
            let urlParts = pathname.split('/');
            let buildingInformation = urlParts[2];
            let floorInformation = urlParts[3];
            if (!floorInformation)
                floorInformation = '1';

            let url = '{% url 'items:add' %}';
            if (buildingInformation)
                url += '?buildingName=' + buildingInformation;
            if (floorInformation && buildingInformation)
                url += '&floorNumber=' + floorInformation;
            window.location = url;
        }
        else {
            window.location = '{% url 'items:add' %}';
        }
    })
</script>