{% load static %}


<button onclick="closeHistoryMenu()" class="w3-bar-item w3-button w3-Large">Close &times;</button>
<h4><b>  History </b></h4><p id="itemIdParagraph"></p>
<ul class="list-unstyled" id="history-list">
</ul>
