{% extends 'default.html' %}
{% load static %}
{% load building_extras %}

{% block html_title %}
    {{ block.super }} - Buildings
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'stylesheets/overview/overview.css' %}">
{% endblock %}

{% block body_title %}{% endblock %}

{% block content_title %}{% endblock %}


{% block body_main %}

    <!--<h2>My Map</h2>-->
    <div id="map" class="map" ondragover="allowDrop(event)" ondrop="handleDrop(event)">
    </div>

{% endblock %}

{% block body_right %}
    {% include 'buildings/overview_right.html' %}
{% endblock %}

{% block extra_js %}
    {% csrf_token %}
    <script src="{% static 'scripts/overview.js' %}"></script>
    <script src="{% static 'scripts/drag-drop.js' %}"></script>
    <script src="{% static 'scripts/items/history.js' %}"></script>

    <script>
        $(document).ready(function() {
            {% for floor in first_floors_of_buildings %}
                load_floor_on_map('{% url 'buildings:geojson' %}?buildingName={{ floor.building.name }}&floorNumber={{ floor.floor_number }}');
            {% endfor %}
            {% for item in items_on_first_floor %}
                {% with "/images/items/"|add:item.type.image as icon_path %}
                    load_items_on_map('{{ item.location.0 }}', '{{ item.location.1 }}', '{{ item.id }}', '/{{ item.type.image }}');
                {% endwith %}
            {% endfor %}

            setupOverviewPage();
            });
    </script>
{% endblock %}