{% load static %}
{% load item_extras %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'stylesheets/buildings/overview-right.css' %}">
{% endblock %}

<div class="history move-menu jumbotron-fluid w3-bar-block w3-animate-right" id="historyMenu">
    {% include 'buildings/ItemHistory.html' %}
</div>

<div class="move-menu jumbotron-fluid w3-bar-block w3-animate-right" id="leftMenu">
    {% include 'buildings/homeless.html' %}
</div>

<div class="w3-light-grey">
    <button class="w3-button w3-light-grey w3-xlarge w3-right" onclick="openLeftMenu()">&#9776;</button>
</div>

<script>
    function openLeftMenu() {
      document.getElementById("leftMenu").style.display = "block";
    }

    function closeLeftMenu() {
      document.getElementById("leftMenu").style.display = "none";
    }

    function closeHistoryMenu() {
      document.getElementById("historyMenu").style.display = "none";
    }
</script>
