{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block html_title %}WAPPIE {% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'images/Wappie-no-bg.ico' %}">

    {% block styles %}
        <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}">
        <link rel="stylesheet" href="{% static 'stylesheets/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'stylesheets/w3.css' %}">
        <link rel="stylesheet" href="{% static 'stylesheets/ol.css' %}">
        <link rel="stylesheet" href="{% static 'stylesheets/ol-contextmenu.min.css' %}">
    {% endblock %}

    {% block scripts %}
        <script src="{% static 'scripts/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'scripts/ol.js' %}"></script>
        <script src="{% static 'scripts/ol-contextmenu.js' %}"></script>
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}

{% block extra_js %}
{% endblock %}
</body>
</html>