{% extends 'base.html' %}

{% block body %}
    {% include 'segments/header.html' %}

    <div class="container-fluid">
        <div class="col">
            <div class="row">
                {% block body_title %}
                {% endblock %}
            </div>
            <div class="row">
                <h2>{% block content_title %}{% endblock %}</h2>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    {% block body_left %}
                    {% endblock %}
                </div>
                <div class="col-xl">
                    {% block body_main %}
                    {% endblock %}
                </div>
                <div class="col-sm-auto">
                    {% block body_right %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}