{% extends 'default.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'stylesheets/homepage.css' %}">
{% endblock %}

{% block body_title %}{% endblock %}

{% block body_main %}

    <div class="row h-40">
        <!--Undefined column-->
        <div class="col-6">
            <font class="text-info display-3" style="">  {{total_nr_of_items }}</font> <font size="+1">items on your map </font><br>
            <font class="text-info display-3" style=""> {{ nr_of_buildings }}</font> <font size="+1">buildings on your map </font><br>
            <font class="text-info display-3" style=""> {{ nr_of_floors}}</font> <font size="+1">floors on your map </font><br>
        </div>
        <!--Map that links to building page-->
        <div class="col-6">
            <a href="{% url 'buildings:index' %}">
                <div id="map" class="map"></div>
            </a>
        </div>
    </div>
    <div class="row h-40">
        <!--Doughnut chart with nr of items per item type-->
        <div class="col-6">
            <canvas id="doughnutChart" height="100"></canvas>
            <span class="float-left mb-3 mr-2"><button type="button" class="btn btn-success btn-rounded btn-sm my-0" onclick="goToItemTypes()">See Types</button></span>
        </div>
        <!--List of items that need to be located-->
        <div class="col-6">
            <div class="card">
              <div class="card-body scroll">
                <h5 class="card-title">Items that need to be located</h5>
                  {% for item in homeless_items %}
                        <li>
                        <a href="{% url 'items:edit' pk=item.id %}">
                            <img src="/media/{{ item.type.image }}" width="30" height="30">
                            {{ item.type }} with ID {{item.id}} {% if item.location_description %} with description "{{ item.location_description }}"{% endif %}
                        </a>
                        </li>
                    {% endfor %}
              </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/overview.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

<script>
    function goToItemTypes() {
        let url = '/items/';
        window.location.assign(url);
    };
</script>

<script>
function getBackgroundColors() {
    var backgroundColorOptions = ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"];
    var backgroundResult = [];
    var i = 0;
    {% for type in item_types %}
        backgroundResult.push(backgroundColorOptions[i]);
        i = (i + 1) % 5
    {% endfor %}
    return backgroundResult;
}


function getBackgroundHooverColors() {
    var backgroundColorOptions = ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"];
    var backgroundResult = [];
    var i = 0;
    {% for type in item_types %}
        backgroundResult.push(backgroundColorOptions[i]);
        i = (i + 1) % 5
    {% endfor %}
    return backgroundResult;
}


  //doughnut
  var ctxD = document.getElementById("doughnutChart").getContext('2d');
  var myLineChart = new Chart(ctxD, {
    type: 'doughnut',
    data: {
      labels: [{% for type in item_types %}"{{ type.type }}",{% endfor %}],
      datasets: [{
        data: {{ counted_items_per_type }},
        backgroundColor: getBackgroundColors(),
        hoverBackgroundColor: getBackgroundHooverColors()
      }]
    },
    options: {
      responsive: true
    }
  });

</script>
{% endblock %}